{% extends "base-organizer.html" %} {% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'organizer/css/detail-competition-page.css' %}" />
{% endblock %}


{% block title%}
<title>Competições</title>
{% endblock %}


{% block main %}
<div class="page-title">
  <div>
    <button id="previus-page-button"><i class="fa-sharp-duotone fa-solid fa-chevron-left"
        style="--fa-primary-color: #000000; --fa-secondary-color: #000000; --fa-secondary-opacity: 1;"></i></button>
    <h1>Basquete masculino</h1>
  </div>

  <button id="end-comp-button">
    Encerrar competição
  </button>
</div>

<div class="main-table-container">
  <div class="card-title">
    <div class="title-image">
      <img src="{% static 'student/img/manage-teams/sport-icon.svg' %}">
    </div>
    <div class="title-text">
      <span>Competições</span>
    </div>
  </div>
  <div class="table-container-wrapper">
    <table>
      <tr class="table-header">
        <th>Nome da equipe</th>
        <th>P</th>
        <th>J</th>
        <th>V</th>
        <th>E</th>
        <th>D</th>
        <th>GP</th>
        <th>GC</th>
        <th>SG</th>
      </tr>
      <tr class="table-row">
        <td>Falcons</td>
        <td>3</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
      </tr>
      <tr class="table-row">
        <td>Falcons</td>
        <td>3</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
      </tr>
      <tr class="table-row">
        <td>Falcons</td>
        <td>3</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
      </tr>
      <tr class="table-row">
        <td>Falcons</td>
        <td>3</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
      </tr>
    </table>
  </div>
</div>

<div class="all-games-title">
  <h2>Todos os jogos</h2>
  <p>Gerencie todos os jogos desta competição</p>
</div>

<div class="editable-data-container">
  <div class="all-games-container">
    <div class="round-container">
      <div class="round-container-header">
        <span class="round-span">1° RODADA</span>
      </div>
      <div class="games-container">
        <div class="card-round-container">
          <img
            src="{% static 'student/img/league-page/bg-rectangle.png' %}"
            alt=""
          />
          <div class="card-round-container-header">
            <img
              src="{% static 'student/img/league-page/header.svg' %}"
              alt=""
            />
            <span class="game-status-span">Encerrado</span>
          </div>
          <div class="card-round-container-content">
            <div class="card-round-container-name">
              <p>INFORMÁTICA</p>
            </div>
            <div class="card-round-container-score">
              <span>2</span>
              <span>2</span>
            </div>
            <div class="card-round-container-name">
              <p>ADS FC</p>
            </div>
          </div>
          <div class="card-round-container-footer">
            <p>22 / 12 -<span>19:00</span></p>
          </div>
        </div>
        <div class="card-round-container">
          <img
            src="{% static 'student/img/league-page/bg-rectangle.png' %}"
            alt=""
          />
          <div class="card-round-container-header">
            <img
              src="{% static 'student/img/league-page/header.svg' %}"
              alt=""
            />
            <span>Encerrado</span>
          </div>
          <div class="card-round-container-content">
            <div class="card-round-container-name">
              <p>INFORMÁTICA</p>
            </div>
            <div class="card-round-container-score">
              <span>2</span>
              <span>2</span>
            </div>
            <div class="card-round-container-name">
              <p>ADS FC</p>
            </div>
          </div>
          <div class="card-round-container-footer">
            <p>22 / 12 -<span>19:00</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}