body {
  background-color: var(--white);
  color: var(--gray-600);
}

header {
  max-width: 90rem;
  margin: 0 auto;
  padding: 1.25rem 5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content-logo {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}

.header-content-logo > .logo-small {
  display: none;
}

.header-content-logo > p {
  font-size: 0.75rem;
}

.header-content-search {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-content-search-social > a > i {
  color: var(--gray-500);
  font-size: 1.25rem;
  cursor: pointer;
  transition: color 0.2s;

  margin: 0 1.5rem;
}

.header-content-search-social i:hover {
  color: var(--green-900);
}

.header-logout {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-left: 1px solid #dddddd;
}

.btn-login {
  padding: 0.5rem 1.25rem;
  font-size: 0.75rem;
  border-radius: 20px;
  border: 0.5px solid var(--gray-500);
  background: none;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}

.photo-hamburguer {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.navigation {
  max-width: 90rem;
  margin: 0 auto;
}

.navigation > ul {
  display: flex;
  justify-content: center;
  gap: 2rem;

  padding: 1rem 5rem;
  margin: 0 5rem;
  border-bottom: 0.5px solid #dddddd;
}

.navigation a {
  color: var(--green-900);
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 500;

  transition: color 0.2s;
}

.navigation a:hover {
  color: var(--green-500);
}

main {
  padding: 3rem 5rem;
  min-height: 100vh;
  max-width: 90rem;
  margin: 0 auto;
}

footer {
  background-color: var(--green-900);
}

.footer-content {
  max-width: 90rem;
  margin: 0 auto;

  padding: 1.75rem 5rem;
  color: var(--white);
  font-size: 0.875rem;
}

.nav-icon {
  display: none;
  font-size: 1.25rem;
}

.nav-icon.active {
  position: fixed;
  display: block;
}

.nav-menu {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.nav-menu.active {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.nav-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: #ffffff;
  color: var(--green-900);
  padding: 4rem 2rem;

  clip-path: circle(100px at 100% -25%);
  transition: 1.5s ease-out;

  display: flex;
  flex-direction: column;
  gap: 6rem;
  justify-content: space-between;
  pointer-events: none;
}

.nav-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  position: absolute;
  left: 2rem;
  top: 50%;

  transform: translateY(-50%);
}

.nav-list .header-content-search-social {
  border-top: 0.5px solid #dddddd;
  padding-top: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

.nav-menu.active .nav-list {
  clip-path: circle(1500px at 100% -25%);
  pointer-events: all;
}

.nav-menu.active .nav-list a {
  opacity: 1;
  font-size: 1rem;
  transition: color 0.2s;
  font-weight: 500;
}

.nav-menu.active .nav-list a:hover {
  color: var(--green-500);
}

.nav-list > li {
  list-style-type: none;
  transition: opacity 0.3s ease;
  margin-left: 2rem;
}

.nav-list li > a {
  text-decoration: none;
  color: var(--green-900);
  font-size: 1.125rem;
  opacity: 0;
}

@media screen and (max-width: 1300px) {
  .header-content-logo > p {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 87.5%;
  }

  header {
    padding: 2rem;
    background-color: #e5f3e5;
  }

  .header-content-logo > .logo-normal {
    display: none;
  }

  .header-content-logo > .logo-small {
    display: block;
  }

  .header-content-search {
    display: none;
  }

  .navigation {
    display: none;
  }

  #bars {
    display: block;
    z-index: 9999;
    cursor: pointer;
  }

  #x {
    display: block;
    z-index: 99999;
    cursor: pointer;
  }

  .nav-icon {
    display: block;
  }

  .nav-icon.active {
    right: 32px;
  }

  main {
    padding: 3rem 2rem;
  }

  .footer-content {
    padding: 1.75rem 2rem;
    text-align: center;
    line-height: 1.4;
  }
}
