.league-header {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.league-header > h2 {
  font-size: 2rem;
  color: var(--green-900);
  font-family: "Baloo 2", sans-serif;
}

.league-header > p {
  max-width: 39.375rem;
  width: 100%;
}

.table-wrapper {
  margin-top: 3rem;
}

.table-name {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.table-name > h3 {
  font-size: 1.5rem;
  color: var(--green-900);
  font-family: "Baloo 2", sans-serif;
}

.table-header > hr {
  color: #c5c7c9;
}

/* TABELA DE CLASSIFICAÇÃO */

.table-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 0.5rem;
}

.card-title span {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
}

.title-image {
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid #e2e8f0;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button-image {
  height: 0.875rem;
  width: 0.875rem;
  border-radius: 0;
}

.title-text {
  display: flex;
  flex-direction: column;
}

.title-text > p {
  font-size: 0.75rem;
  color: #9ca3af;
}

.table-container-wrapper {
  overflow-x: auto;
}

.table-container {
  border: 1px solid #e2e8f0;
  border-radius: 16px;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  margin: 2rem 0 3rem;

  width: 100%;
}

.table-container-wrapper > table {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  width: 100%;

  margin-top: 1.25rem;
}

.table-header {
  display: grid;
  grid-template-columns: 2fr repeat(8, 1fr);
  grid-gap: auto;
  gap: 2rem;
  align-items: center;

  padding: 0.5rem 1rem;

  background-color: #f9fafb;
  color: #9ca3af;

  border: 1px solid #e2e8f0;
  border-radius: 8px;
}

.table-row {
  display: grid;
  grid-template-columns: 2fr repeat(8, 1fr);
  grid-gap: auto;
  gap: 2rem;

  padding: 1rem;
  color: #1e1d26;

  border-bottom: 1px solid #e2e8f0;
}

.table-container-wrapper > table .table-row:last-child {
  border-bottom: none;
}

.table-container-wrapper > table td,
.table-container-wrapper > table th {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  text-align: left;
}

/* Todos os jogos */

.all-games-title {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.all-games-title > h3 {
  font-size: 1.5rem;
  color: var(--green-900);
  font-family: "Baloo 2", sans-serif;
}

.all-games-navigation {
  margin-top: 3rem;

  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--gray-100);
}

.all-games-navigation > button {
  border: 0;
  border-bottom: 2px solid transparent;
  background: none;
  padding: 0 0.75rem 1rem 0.75rem;
  color: var(--gray-600);
  font-weight: 600;
  cursor: pointer;
  transition: color 0.2s ease, border-bottom 0.2s ease;
}

.all-games-navigation > button.active {
  color: var(--green-500);
  border-bottom: 2px solid var(--green-500);
}

.games-card-container {
  display: none;
}

.games-card-container.enabled {
  display: block;

  padding-top: 2rem;

  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.card-all-games {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;

  max-width: 18.875rem;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.card-all-games > img {
  position: absolute;
  top: 50%;
  right: -20%;
  transform: translateY(-50%);
  z-index: -1;
}

.card-all-games > span {
  background-color: #eeeded;
  padding: 20px;
}

.card-all-games-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  padding: 0 1rem;
}

.card-all-games-header > span {
  padding: 0.25rem 0.5rem;
  color: #322d2d;
  font-size: 0.75rem;
  font-weight: 600;
  background-color: #d6d5d5;
}

.card-all-games-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;

  padding: 0 1rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 2.4rem;
}

.card-all-games-content .card-all-games-score {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;

  color: #322d2d;
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
}

.card-all-games-score > p {
  flex: 1;
}

.card-all-games-score > span {
  font-size: 1rem;
}

.card-all-games-content .card-all-games-score:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
}

.card-all-games-footer {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.875rem;
  color: var(--white);
  font-weight: 600;
  background-color: var(--green-100);
  padding: 0.625rem 0;
}

.card-all-games-footer span {
  margin-left: 0.3rem;
}

@media screen and (max-width: 1136px) {
  .games-card-container {
    justify-content: center;
  }
}

@media screen and (max-width: 1000px) {
  .table-container-wrapper {
    overflow-x: auto;
  }

  .table-container-wrapper > table {
    width: 60rem;
  }
}
