{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Inter:opsz,wght@14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'global.css' %}" />
    <link rel="stylesheet" href="{% static 'student/css/base-student.css' %}" />
    {% block css %} {% endblock %}
    <script src="{% static 'student/js/menu-hamburguer.js' %}" defer></script>
    {% block js %} {% endblock %} {% block title %}
    <title>Início</title>
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="header-content-logo">
        <a class="logo-normal" href="/"
          ><img src="{% static 'student/img/logo.svg' %}" alt=""
        /></a>
        <a class="logo-small" href="/"
          ><img src="{% static 'student/img/logo-small.svg' %}" alt=""
        /></a>
        <p>
          Educação, Ciência, Cultura e Tecnologia em <br />
          todo o Rio Grande do Norte
        </p>
      </div>
      <div class="header-content-search">
        <div class="header-content-search-social">
          <a href="https://www.instagram.com/ifpdfesportes_/" target="_blank"
            ><i class="fa-brands fa-instagram"></i
          ></a>
          <a href="https://x.com/IFpdfesportes_" target="_blank"
            ><i class="fa-brands fa-x-twitter"></i
          ></a>
          <a href="https://www.youtube.com/@Ifpdfesportes" target="_blank"
            ><i class="fa-brands fa-youtube"></i
          ></a>
          <a class="header-logout" href="#"
            ><i class="fa-solid fa-right-from-bracket"></i
          ></a>
        </div>

        <button class="btn-login">Login</button>
      </div>

      <div class="nav-icon" id="bars">
        <i class="fas fa-bars"></i>
      </div>

      <div class="nav-icon" id="x">
        <i class="fa-solid fa-x"></i>
      </div>
    </header>
    <nav class="navigation">
      <ul>
        <a href="#competitions-anchor">Competições</a>
        <a href="#games-anchor">Jogos</a>
        <a href="#">Regulamento</a>
      </ul>
    </nav>

    <nav class="nav-menu">
      <div class="nav-list">
        <button class="btn-login photo-hamburguer">Login</button>
        <ul>
          <li><a href="#">Competições</a></li>
          <li><a href="#">Jogos</a></li>
          <li><a href="#">Regulamento</a></li>
        </ul>
        <div class="header-content-search-social">
          <a href="https://www.instagram.com/ifpdfesportes_/" target="_blank"
            ><i class="fa-brands fa-instagram"></i
          ></a>
          <a href="https://x.com/IFpdfesportes_" target="_blank"
            ><i class="fa-brands fa-x-twitter"></i
          ></a>
          <a href="https://www.youtube.com/@Ifpdfesportes" target="_blank"
            ><i class="fa-brands fa-youtube"></i
          ></a>
          <a class="header-logout" href="#"
            ><i class="fa-solid fa-right-from-bracket"></i
          ></a>
        </div>
      </div>
    </nav>
    <main>{% block main %} {% endblock %}</main>
    <footer>
      <div class="footer-content">
        <p>
          Copyright © 2024 | Instituto Federal de Educação, Ciência e Tecnologia
          do Rio Grande do Norte
        </p>
      </div>
    </footer>
  </body>
</html>
