{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Inter:opsz,wght@14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'global.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'organizer/css/base-organizer.css' %}"
    />
    {% block css %} {% endblock %} {% block js %} {% endblock %}
    <title>Organizador</title>
    {% block title %} {% endblock %}
  </head>
  <body>
    <main>
      <div class="navigation">
        <div class="navigation-header">
          <img src="{% static 'organizer/img/logo.svg' %}" alt="" />
          <button>
            <img
              src="{% static 'organizer/img/template-base/sidebar.svg' %}"
              alt=""
            />
          </button>
        </div>
        <p>Menu</p>
        <div class="navigation-content">
          <button>
            <i class="fa-solid fa-basketball"></i>
            <span>Modalidades</span>
          </button>
          <button>
            <i class="fa-solid fa-user-group"></i>
            <span>Equipes</span>
          </button>
          <button>
            <i class="fa-solid fa-trophy"></i>
            <span>Competições</span>
          </button>
          <button>
            <i class="fa-solid fa-bell"></i>
            <span>Solicitações</span>
          </button>
        </div>
      </div>
      <div class="header-content">
        <header>
          <p>Olá, <span>organizador</span></p>
          <img
            src="{% static 'organizer/img/template-base/profile.svg' %}"
            alt=""
          />
        </header>
        <div class="block-main">{% block main %} {% endblock %}</div>
      </div>
    </main>
    <footer>
      <div class="footer-content">
        <p>
          Copyright © 2024 | Instituto Federal de Educação, Ciência e Tecnologia
          do Rio Grande do Norte
        </p>
      </div>
    </footer>
  </body>
</html>
