{% extends "base-organizer.html" %} {% load static %} {% block css %}
<link
  rel="stylesheet"
  href="{% static 'organizer/css/competitions-page.css' %}"
/>
{% endblock %} {% block title%}
<title>Competições</title>
{% endblock %} {% block main %}
<div class="main-table-container">
  <div class="card-title">
    <div class="title-image">
      <img
        src="{% static 'organizer/img/competition-page/competition-icon.svg' %}"
      />
    </div>
    <div class="title-text">
      <span>Competições</span>
    </div>
  </div>
  <div class="table-container-wrapper">
    <table>
      <tr class="table-header">
        <th>Nome da competição</th>
        <th>Status</th>
        <th>Equipes inscritas</th>
        <th>Data inicio</th>
        <th>Ações</th>
      </tr>
      {% for competition in competitions %}
        {% if competition.status == "in_course" or competition.status == "pendent"%}
          <tr class="table-row">
            <td class="comp-item">
              <span>{{ competition.name }}</span>
              <span class="modality-span">{{ competition.modality.name }}</span>
            </td>
            <td><span class="status">
              {% if competition.status == 'pendent' %}
              Pendente
              {% elif competition.status == 'in_course' %}
                Em andamento
              {% else %}
                Encerrado
              {% endif %}
            </span></td>
            <td>{{ competition.team_set.count }}</td>
            <td>
              {% if not competition.start_date %}
                ---
              {% else %}
                {{ competition.start_date|date:"d/m/Y" }}
             {% endif %}
            </td>
            <td>
              <a href="{% url 'detail_competition' competition.name %}">Gerenciar competição</a>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
