{% extends "base-organizer.html" %} {% load static %} {% block css %}
<link
  rel="stylesheet"
  href="{% static 'organizer/css/competitions-page.css' %}"
/>
{% endblock %} {% block title%}
<title>Competições</title>
{% endblock %} {% block main %}
<div class="main-table-container">
  <div class="card-title">
    <div class="title-image">
      <img
        src="{% static 'organizer/img/competition-page/competition-icon.svg' %}"
      />
    </div>
    <div class="title-text">
      <span>Competições</span>
    </div>
  </div>
  <div class="table-container-wrapper">
    <table>
      <tr class="table-header">
        <th>Nome da competição</th>
        <th>Status</th>
        <th>Equipes inscritas</th>
        <th>Data inicio</th>
        <th>Ações</th>
      </tr>
      <tr class="table-row">
        <td class="comp-item">
          <span>Basquete masculino</span>
          <span class="modality-span">Basquete</span>
        </td>
        <td><span class="status">Em andamento</span></td>
        <td>20 equipes</td>
        <td>27/11/2025</td>
        <td>
          <a href="{% url 'detail' %}">Gerenciar competição</a>
        </td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}
