{% extends "base-organizer.html" %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'organizer/css/modality-page.css' %}" />
{% endblock %} {% block js %}
<script src="{% static 'table-min-max.js' %}" defer></script>
<script
  src="{% static 'organizer/js/modality-page/create-modal.js' %}"
  defer
></script>
{% endblock %} {% block main %}

{% block title %}
  <title>Modalidades</title>
{% endblock %}

<div class="modality-title">
  <h3>Modalidades</h3>
  <button>Cadastrar modalidade</button>
</div>

<div class="modality-container-wrapper">
  <div class="table-container not-active">
    <div class="table-title">
      <div class="card-title">
        <div class="title-image">
          <img
            class="button-image"
            src="{% static 'student/img/manage-teams/sport-icon.svg' %}"
          />
        </div>
        <div class="title-text">
          <span>Basquete</span>
        </div>
      </div>
      <div class="card-actions">
        <button class="create-new-competition">
          <span>Criar nova competição</span>
          <i class="fa-solid fa-trophy"></i>
        </button>
        <button class="edit-modality">
          <span>Editar modalidade</span>
          <i class="fa-solid fa-pencil"></i>
        </button>
        <button class="delete-modality">
          <span>Excluir modalidade</span>
          <i class="fa-solid fa-trash-can"></i>
        </button>
        <button class="image-button min-max-button max">
          <img
            class="button-image"
            src="{% static 'student/img/manage-teams/arrow-down.svg' %}"
          />
        </button>
      </div>
    </div>

    <div class="table-container-wrapper">
      <table>
        <tr class="table-header">
          <th>Nome da competição</th>
          <th>Equipes inscritas</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
        <tr class="table-row">
          <td>Basquete masculino</td>
          <td>20 equipes</td>
          <td>
            <span>Em andamento</span>
          </td>
          <td>
            <a href="{% url 'detail' %}">
              <button class="image-button edit-competition">
                <i class="fa-solid fa-pencil"></i>
              </button>
            </a>

            <button class="image-button remove-competition">
              <i class="fa-solid fa-trash-can"></i>
            </button>
          </td>
        </tr>

        <tr class="table-row">
          <td>Basquete feminino</td>
          <td>20 equipes</td>
          <td>
            <span>Em andamento</span>
          </td>
          <td>
            <button class="image-button edit-competition">
              <i class="fa-solid fa-pencil"></i>
            </button>

            <button class="image-button remove-competition">
              <i class="fa-solid fa-trash-can"></i>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="table-container not-active">
    <div class="table-title">
      <div class="card-title">
        <div class="title-image">
          <img
            class="button-image"
            src="{% static 'student/img/manage-teams/sport-icon.svg' %}"
          />
        </div>
        <div class="title-text">
          <span>Vôlei</span>
        </div>
      </div>
      <div class="card-actions">
        <button class="create-new-competition">
          <span>Criar nova competição</span>
          <i class="fa-solid fa-trophy"></i>
        </button>
        <button class="edit-modality">
          <span>Editar modalidade</span>
          <i class="fa-solid fa-pencil"></i>
        </button>
        <button class="delete-modality">
          <span>Excluir modalidade</span>
          <i class="fa-solid fa-trash-can"></i>
        </button>
        <button class="image-button min-max-button max">
          <img
            class="button-image"
            src="{% static 'student/img/manage-teams/arrow-down.svg' %}"
          />
        </button>
      </div>
    </div>

    <div class="table-container-wrapper">
      <table>
        <tr class="table-header">
          <th>Nome da competição</th>
          <th>Equipes inscritas</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
        <tr class="table-row">
          <td>Vôlei Indoor</td>
          <td>20 equipes</td>
          <td>
            <span>Em andamento</span>
          </td>
          <td>
            <button class="image-button edit-competition">
              <i class="fa-solid fa-pencil"></i>
            </button>

            <button class="image-button remove-competition">
              <i class="fa-solid fa-trash-can"></i>
            </button>
          </td>
        </tr>

        <tr class="table-row">
          <td>Vôlei de areia masculino</td>
          <td>20 equipes</td>
          <td>
            <span>Em andamento</span>
          </td>
          <td>
            <button class="image-button edit-competition">
              <i class="fa-solid fa-pencil"></i>
            </button>

            <button class="image-button remove-competition">
              <i class="fa-solid fa-trash-can"></i>
            </button>
          </td>
        </tr>
        <tr class="table-row">
          <td>Vôlei de areia feminino</td>
          <td>20 equipes</td>
          <td>
            <span>Em andamento</span>
          </td>
          <td>
            <button class="image-button edit-competition">
              <i class="fa-solid fa-pencil"></i>
            </button>

            <button class="image-button remove-competition">
              <i class="fa-solid fa-trash-can"></i>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="table-container not-active">
    <div class="table-title">
      <div class="card-title">
        <div class="title-image">
          <img
            class="button-image"
            src="{% static 'student/img/manage-teams/sport-icon.svg' %}"
          />
        </div>
        <div class="title-text">
          <span>Futsal</span>
        </div>
      </div>
      <div class="card-actions">
        <button class="create-new-competition">
          <span>Criar nova competição</span>
          <i class="fa-solid fa-trophy"></i>
        </button>
        <button class="edit-modality">
          <span>Editar modalidade</span>
          <i class="fa-solid fa-pencil"></i>
        </button>
        <button class="delete-modality">
          <span>Excluir modalidade</span>
          <i class="fa-solid fa-trash-can"></i>
        </button>
        <button class="image-button min-max-button max">
          <img
            class="button-image"
            src="{% static 'student/img/manage-teams/arrow-down.svg' %}"
          />
        </button>
      </div>
    </div>

    <div class="table-container-wrapper">
      <table>
        <tr class="table-header">
          <th>Nome da competição</th>
          <th>Equipes inscritas</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
        <tr class="table-row">
          <td>Futsal masculino</td>
          <td>20 equipes</td>
          <td>
            <span>Em andamento</span>
          </td>
          <td>
            <button class="image-button edit-competition">
              <i class="fa-solid fa-pencil"></i>
            </button>

            <button class="image-button remove-competition">
              <i class="fa-solid fa-trash-can"></i>
            </button>
          </td>
        </tr>

        <tr class="table-row">
          <td>Futsal feminino</td>
          <td>20 equipes</td>
          <td>
            <span>Em andamento</span>
          </td>
          <td>
            <button class="image-button edit-competition">
              <i class="fa-solid fa-pencil"></i>
            </button>

            <button class="image-button remove-competition">
              <i class="fa-solid fa-trash-can"></i>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<dialog class="add-new-modality-dialog">
  <div class="dialog-header">
    <h3>Cadastrar nova modalidade</h3>
    <button><i class="fa-solid fa-xmark"></i></button>
  </div>

  <form action="">
    <div class="inputs-container">
      <label for="new-modality-name">Nome da modalidade</label>
      <input
        type="text"
        id="new-modality-name"
        placeholder="Modalidade"
        required
      />
    </div>

    <button type="submit" class="create-new-modality-btn">
      Criar modalidade
    </button>
  </form>
</dialog>

<dialog class="edit-modality-dialog">
  <div class="dialog-header">
    <h3>Editar modalidade</h3>
    <button><i class="fa-solid fa-xmark"></i></button>
  </div>

  <form action="">
    <div class="inputs-container">
      <label for="edit-modality-name">Nome da modalidade</label>
      <input type="text" id="edit-modality-name" />
    </div>

    <button type="submit" class="create-new-modality-btn">
      Concluir alterações
    </button>
  </form>
</dialog>

<dialog class="remove-modality-dialog">
  <div class="dialog-header">
    <h3>Excluir modalidade <span></span>?</h3>
    <button><i class="fa-solid fa-xmark"></i></button>
  </div>

  <button>Excluir</button>
</dialog>

<dialog class="remove-competition-dialog">
  <div class="dialog-header">
    <h3>Excluir competição <span></span>?</h3>
    <button><i class="fa-solid fa-xmark"></i></button>
  </div>

  <button>Excluir</button>
</dialog>

<dialog class="create-new-competition-dialog">
  <div class="dialog-header">
    <h3>Criar nova competição de <span></span></h3>
    <button><i class="fa-solid fa-xmark"></i></button>
  </div>

  <form action="">
    <div class="inputs-container">
      <label for="new-competition-name">Nome da competição</label>
      <input
        type="text"
        id="new-competition-name"
        placeholder="Ex: Basquete masculino"
        required
      />
    </div>
    <div class="inputs-container">
      <label for="new-competition-system">Sistema da competição</label>

      <div class="competition-type-selection">
        <label class="new-competition-radio-group" for="grupos">
          <input
            type="radio"
            id="grupos"
            name="competition-type"
            value="grupos"
            required
          />
          Grupos
        </label>

        <label class="new-competition-radio-group" for="pontos-corridos">
          <input
            type="radio"
            id="pontos-corridos"
            name="competition-type"
            value="pontos-corridos"
            required
          />
          Pontos Corridos
        </label>

        <label class="new-competition-radio-group" for="eliminatorias">
          <input
            type="radio"
            id="eliminatorias"
            name="competition-type"
            value="eliminatorias"
            required
          />
          Eliminatórias
        </label>
      </div>
    </div>

    <div class="quantity-players-teams-container">
      <div class="quantity-players-teams-content">
        <label for="quantity-players-team"
          >Quantidade mínima de participantes por equipe</label
        >
        <input
          type="number"
          id="quantity-players-team"
          placeholder="Ex: 8"
          required
        />
      </div>
      <div class="quantity-players-teams-content">
        <label for="quantity-players-team"
          >Quantidade máxima de participantes por equipe</label
        >
        <input
          type="number"
          id="quantity-players-team"
          placeholder="Ex: 12"
          required
        />
      </div>
    </div>

    <div class="inputs-container">
      <label for="image-competition">Imagem da competição</label>
      <label for="image-competition" class="upload-label">
        <i class="fa-solid fa-upload"></i>
        Inserir imagem
      </label>
      <input
        type="file"
        id="image-competition"
        name="imagem-competicao"
        accept="image/*"
        class="file-input"
        required
      />
    </div>

    <button type="submit">Criar competição</button>
  </form>
</dialog>

{% endblock %}
