{% extends "base-organizer.html" %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'organizer/css/requests-page.css' %}" />
{% endblock %} {% block js %}
<script src="{% static 'organizer/js/requests-page/change-table.js' %}" defer></script>
<script src="{% static 'organizer/js/requests-page/color-type-request.js' %}" defer></script>
<script src="{% static 'organizer/js/requests-page/create-modal.js' %}" defer></script>
<script src="{% static 'organizer/js/requests-page/radio-change.js' %}" defer></script>
<script src="{% static 'organizer/js/requests-page/form-submission.js' %}" defer></script>
{% endblock %} {% block main %}

<div class="table-container">
  <div class="table-title">
    <div class="card-title">
      <div class="title-image">
        <i class="fa-regular fa-bell"></i>
      </div>
      <div class="title-text">
        <span>Solicitações</span>
      </div>
    </div>
    <div class="card-actions">
      <button class="manage-teams-container active">
        <i class="fa-solid fa-user-group"></i>
        <span>Equipes</span>
      </button>
      <button class="manage-players-container">
        <i class="fa-solid fa-user"></i>
        <span>Participantes</span>
      </button>
    </div>
  </div>

  <div class="table-container-wrapper">
    <table class="table-teams">
      <tr class="table-header">
        <th>Equipe solicitante</th>
        <th>Tipo de solicitação</th>
        <th>Data da solicitação</th>
        <th>Ações</th>
      </tr>

      {% if requests %}
      <!-- prettier-ignore-start -->
      {% for request in requests %}
      <!-- Só para não quebrar o código -->
      {% if request.request_type == 'approve_team' or request.request_type == 'delete_team' %}
      <!-- prettier-ignore-end -->
      <tr class="table-row">
        <td>
          <p>{{ request.team.name }}</p>
          <span>{{ request.team.competition }}</span>
        </td>
        <td class="type-request">{{ request.get_request_type_display }}</td>
        <td>{{ request.created_at|date:"d/m/Y" }}</td>
        <td>
          <button class="show-request" data-request-id="{{ request.id }}">Exibir solicitação</button>
        </td>
      </tr>
      {% else %}

      <tr class="table-row">
        <td>Não tem solicitações para alteração de equipes</td>
      </tr>

      {% endif %} {% endfor %} {% else %}

      <tr class="table-row">
        <td>Não tem solicitações para alteração de equipes</td>
      </tr>

      {% endif %}
    </table>

    <table class="table-players disabled">
      <tr class="table-header">
        <th>Equipe solicitante</th>
        <th>Tipo de solicitação</th>
        <th>Data da solicitação</th>
        <th>Ações</th>
      </tr>

      {% if requests %} {% for request in requests %}
      <!-- Só para não quebrar o código -->
      {% if request.request_type == 'remove_team_member' %}
      <tr class="table-row">
        <td>
          <p>{{ request.team.name }}</p>
          <span>{{ request.team.competition }}</span>
        </td>
        <td class="type-request">{{ request.get_request_type_display }}</td>
        <td>{{ request.created_at|date:"d/m/Y" }}</td>
        <td>
          <button class="show-request" data-request-id="{{ request.id }}">Exibir solicitação</button>
        </td>
      </tr>

      {% else %}

      <tr class="table-row">
        <td colspan="4">Não tem solicitações para alteração de participantes</td>
      </tr>

      {% endif %} {% endfor %} {% else %}

      <tr class="table-row">
        <td>Não tem solicitações para alteração de participantes</td>
      </tr>

      {% endif %}
    </table>
  </div>
</div>

<dialog class="approve-team-dialog">
  <div class="dialog-header">
    <h3>Aprovar equipe</h3>
    <button><i class="fa-solid fa-xmark"></i></button>
  </div>
  <div class="team-data-container">
    <div class="team-data">
      <p>Nome da equipe</p>
      <span>Equipirangaz</span>
    </div>
    <div class="team-data">
      <p>Competição</p>
      <span>Futsal masculino</span>
    </div>
    <div class="team-data">
      <p>Número de membros</p>
      <span>8 membros</span>
    </div>
  </div>
  <div class="team-table-players">
    <p>Membros</p>
    <div class="team-table-container-wrapper">
      <div class="table-container-approve">
        <table></table>
      </div>
    </div>
  </div>
  <form action="{% url 'requests_list' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="request_id" value="{{ request.id }}" />

    <div class="radio-action-group">
      <label for="approve" class="radio-action-item">
        <input type="radio" name="action" value="approve" id="approve" />
        Aprovar solicitação
      </label>

      <label for="reject" class="radio-action-item">
        <input type="radio" name="action" value="reject" id="reject" />
        Rejeitar solicitação
      </label>
    </div>

    <div class="reason-deny reason_rejected_field">
      <label>{{ reject_request_form.reason_rejected.label_tag }}</label>
      {{ reject_request_form.reason_rejected }}
    </div>

    <button type="submit">Confirmar</button>
  </form>
</dialog>

<dialog class="remove-team-dialog">
  <div class="dialog-header">
    <h3>Excluir equipe</h3>
    <button><i class="fa-solid fa-xmark"></i></button>
  </div>
  <div class="team-data-container">
    <div class="team-data">
      <p>Nome da equipe</p>
      <span></span>
    </div>
    <div class="team-data">
      <p>Competição</p>
      <span></span>
    </div>
    <div class="team-data">
      <p>Número de membros</p>
      <span></span>
    </div>
  </div>
  <div class="team-table-players">
    <p>Membros</p>
    <div class="team-table-container-wrapper">
      <div class="table-container-approve">
        <table></table>
      </div>
    </div>
  </div>
  <div class="reason-change">
    <span>Motivo da alteração</span>
    <div class="reason-change-content">
      <p></p>
    </div>
  </div>
  <form action="{% url 'requests_list' %}" method="POST">
    <div class="radio-action-group">
      <label for="approve-team-remove" class="radio-action-item">
        <input type="radio" name="action" value="approve" id="approve-team-remove" />
        Aprovar solicitação
      </label>

      <label for="reject-team-remove" class="radio-action-item">
        <input type="radio" name="action" value="reject" id="reject-team-remove" />
        Rejeitar solicitação
      </label>
    </div>

    <div class="reason-deny reason_rejected_field" style="display: none">
      <label>{{ reject_request_form.reason_rejected.label_tag }}</label>
      {{ reject_request_form.reason_rejected }}
    </div>
    <button type="submit">Confirmar</button>
  </form>
</dialog>

<dialog class="remove-player-dialog">
  <div class="dialog-header">
    <h3>Excluir participante</h3>
    <button><i class="fa-solid fa-xmark"></i></button>
  </div>
  <div class="team-data-container">
    <div class="team-data">
      <p>Membro a ser excluído</p>
      <span></span>
    </div>
    <div class="team-data">
      <p>Equipe</p>
      <span></span>
    </div>
    <div class="team-data">
      <p>Competição</p>
      <span></span>
    </div>
  </div>
  <div class="reason-change">
    <span>Motivo da alteração</span>
    <div class="reason-change-content">
      <p></p>
    </div>
  </div>
  <form action="{% url 'requests_list' %}" method="POST">
    {% csrf_token %}

    <div class="radio-action-group">
      <label for="approve-player-remove" class="radio-action-item">
        <input type="radio" name="action" value="approve" id="approve-player-remove" />
        Aprovar solicitação
      </label>

      <label for="reject-player-remove" class="radio-action-item">
        <input type="radio" name="action" value="reject" id="reject-player-remove" />
        Rejeitar solicitação
      </label>
    </div>

    <div class="reason-deny reason_rejected_field" style="display: none">
      <label>{{ reject_request_form.reason_rejected.label_tag }}</label>
      {{ reject_request_form.reason_rejected }}
    </div>

    <button type="submit">Confirmar</button>
  </form>
</dialog>

{% endblock %}
